site_name: sedbuilder docs
theme:
  name: material
  palette:
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: True
            show_root_heading: true
            show_root_full_path: false
nav:
  - Home: index.md
  - API reference: api.md
